@page "/"

<style>
    div.container{
        
    }

    button {
        width: 150px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    tr {
        text-align:center;
    }
</style>

<div class="container">

    <h2 >How many players?</h2>

    <div class="row">
        <div class="col-12">

            <div class="row mt-5">
                <input type="range" class="col-5 form-control-range"
                       min="2" max="8" @bind="Game.numberOfPlayers" />
                <div class="col-2">@Game.numberOfPlayers</div>
            </div>


            @for (int i = 0; i < Game.numberOfPlayers; i++)
            {
                buttonIsDisable[i] = false;
                <div class=" row">
                    <h3>Player#@(i + 1): </h3>
                    <input type="text" @bind="playerNames[i]" />
                    <button type="button" class="btn btn-primary mt-3" @onclick="() => { Game.AddPlayer(playerNames[i]); buttonIsDisable[i] = true; }" disabled="@buttonIsDisable[i]">
                        Add Players
                    </button>
                </div>
            }

            <div>
                <button type="button" class="btn btn-primary mt-3" @onclick="() => { Game.nextTask = Tasks.PlayerTurn; }">
                    next
                </button>
            </div>

            <hr />

            <h2>The final winner will be the one who has more than 60 points!</h2>
            <h2>If everyone quits early, or if only one player is present, the player who has the highest points wins！</h2>

            <table class="table table-bordered" align="center">
                @foreach (Player player in Game.players)
                {
                    <td class="col-3">
                    <tr class="border">@player.Name</tr>
                    <tr class="border">@player.status</tr>
                    <tr class="border">

                        Hands:
                        
                            @foreach (Card card in player.cards)
                            {

                                <img src="card_assets/@card.FullName" />

                            }


                    </tr>
                    <tr class="border">Score: @player.score</tr>
                    <tr class="border">Points: @player.points</tr>
                    </td>
                }
            </table>

            <input type="range" min="0" max="3" @bind="drawCardsNumber" />
            <div class="col-2">@drawCardsNumber</div>

            <button type="button" class="btn btn-primary mt-3" @onclick="() => { PlayerDrawCards(drawCardsNumber); }">
                Draw Cards
            </button>

            



        </div>
    </div>
</div>

@code{   

    protected override void OnInitialized()
    {

        Game.SetUpGame();

    }

    string[] playerNames = new string[8];

    bool[] buttonIsDisable = new bool[8];

    int drawCardsNumber;

    int playerIndex = 0;

    private void PlayerDrawCards(int drawCardsNumber)
    {
        if (playerIndex < Game.players.Count)
        {
            Game.DrawCards(playerIndex, drawCardsNumber);
            playerIndex++;
        }
        else
        {
            playerIndex = 0;
            Game.DrawCards(playerIndex, drawCardsNumber);
            playerIndex++;
        }

    }

}
